.head {
    background-color: rgb(153, 87, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding: 10px; 
  }


  .input_field {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .input_field:hover {
    background-color: #357abd;
  }
  
  .input_field:active {
    background-color: #2a5d8f;
  }
  
  /* Hide the default file input appearance */
  .input_field::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .input_field::before {
    content: 'Choose File';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  
  .input_field:hover::before {
    border-color: black;
  }
  
  .input_field:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  